*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    font-family: Inter;
}

/* Global styles */


.container {
    margin: 45px 40px;
}

header {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

/* Entry styles */

article.website-entry {
    display: flex;
    margin-bottom: 36px;
}

article.website-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.website-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Info container styles */

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Footer styles */

.footer-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    height: 55px;
}

.footer-text {
    padding-right: 10px;
}
