*{
    box-sizing: border-box;
}

html, body, #root {
    margin: 0;
    height: 100%;
}

body {
    font-family: Inter;
    display: flex;
    flex-direction: column;
    background-color: #0f172a;
    color: white;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Global styles */


.container {
    margin: 45px 40px;
}

header {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 55px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

/* Entry styles */

.website-entry {
    display: flex;
    margin-bottom: 36px;
    background-color: #0f172a;
}

.main-image-container {
    width: 100%;
    height: 20%;
    overflow: hidden;
    border-radius: 15px;
    flex-shrink: 0;
    margin-right: 19px;
    border:white solid 5px;
    display: flex;
    flex-direction: row;
}

.main-image {
    display: flex;
    height: 100%;
    width: 30%;
    object-fit: cover;
}

.image-caption {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
}

/* Info container styles */

.info-container a {
    color: white;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container a:hover {
    text-decoration: double underline;
    color: #918E9B;
}

h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Portfolio styles */

.portfolio-section {
    margin-top: 30px;
}

p.portfolio-description {
    font-size: 0.8rem;
    line-height: 1.5;
    padding-left: 10px;
    text-align: justify;
    align-content: center;
    letter-spacing: 0.02em;
    line-height: 1.6;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.portfolio-image {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 15px;
    object-fit: cover;
}

.portfolio-image:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.portfolio-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
    height: 20%;
    overflow: hidden;
    border-radius: 15px;
    flex-shrink: 0;
    margin-right: 19px;
    border:white solid 5px;
    padding: 30px;
}

/* Footer styles */

.footer-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    height: 55px;
}

.footer-text {
    padding-right: 10px;
}


/******* Responsive styles ********/

@media (max-width: 768px) {
    .container {
        margin: 20px;
    }

    article.website-entry {
        flex-direction: column;
        align-items: center;
    }

    article.website-entry .main-image-container {
        width: 100%;
        height: 40%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    article.website-entry .main-image {
        width: 100%;
        height: auto;
    }

    .info-container h2.entry-title {
        text-align: center;
    }

    .info-container p.entry-text {
        line-clamp: unset;
        -webkit-line-clamp: unset;
    }
}
